
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="index.php?page=ad-post" class="btn btn-primary btn-lg">Post FREE Ad!</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

		##ad_list_html##

      </div>
      <!-- /.row -->
